# SPDX-FileCopyrightText: 2023 Shell Global Solutions International B.V. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
##---------------------------------------------------
## gitignore file
##---------------------------------------------------

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

*.jpg
*.png

*.mat

Thumbs.db

RunScripts/CaseStudy1/Figures/*.mat
RunScripts/CaseStudy1/Output/*.mat

RunScripts/CaseStudy1/Figures/*.mat
RunScripts/CaseStudy1/Output/*.mat

/RunScripts/CaseStudy1/Figures/*.mat
/RunScripts/CaseStudy2/Figures/*.mat